@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');

:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: whitesmoke;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  overflow: none;
}

.container {
  margin: 0;
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

@media (orientation: landscape) {
  body {
    flex-direction: row;
    flex-flow: row;
  }
  .container {
    height: 90dvh;
    margin: 0;
    flex-basis: 50%;
    /* width: 100%; */
  }
}

.row {
  display: flex;
  flex-direction: row;
}


.graph {
  width: 90dvw;
  height: 40dvw;
}

@media (orientation: landscape) {
  .graph {
    width: 60dvw;
    height: 90dvh;
  }
}

.numbers {
  justify-content: space-around;
  align-items: space-around;
  width: 70%;
  color: rgb(45, 45, 45);
  background-color: #d0d0d0;
  margin-top: 1em;
  font-size: 1.5em;
}


.numbers > * {
  min-width: 20%;
  max-width: 30%;
}
.numbers #jump-time {
  color: rgb(255, 149, 149);
}

.start-stop {
  width: 90%;
  margin-top: 2em;
  padding: 1em;
  font-size: x-large;
  border: none;
  -webkit-box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.69);
  -moz-box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.69);
  box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.69);
}

#start {
  background-color: rgb(70, 204, 70);
}
#stop {
  background-color: rgb(207, 105, 67);
}

.start-stop:active {
  -webkit-box-shadow: 5px 5px 0px 2px rgba(0,0,0,0.69);
-moz-box-shadow: 5px 5px 0px 2px rgba(0,0,0,0.69);
box-shadow: 5px 5px 0px 2px rgba(0,0,0,0.69);
transform: translate(2.5px, 2.5px);
}



.placeholder {
  margin-top: 2em;
}

/* 
@media (orientation: landscape) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .row {
    flex-direction: column;
  }
} */

.extra-buttons {
  width: 80%;
  align-items: space-around;
  margin-top: 2em;
}

.extra-buttons > svg {
  height: 2em;
}

.bar-graph {
  flex-direction: row;
  height: 100%;
  width: 100%;
  overflow: visible;
}



.datapoint {
  fill: darkgrey;
}

.bar {
  background-color: rgba(0, 128, 0, 0.318);  
}


details:not([open]) {
  /* background-color: darkgray; */
  padding: 0em;
} 

details {
  width: 80%;
  display: flex;
  align-items: baseline;
  justify-content: left;
  margin-top: 1em;
  /* background-color: rgba(169, 169, 169, 0.345); */
}

summary {
  display: flex;
  /* width: fit-content; */
  align-items: baseline;
  justify-content: center;
  background-color: rgb(155, 189, 227);
  padding: 0.5em;
  font-size: larger;
  /* width: ; */
}

p {
  width: fit-content;
}

.timer-input {
  align-items: center;
  justify-content: space-around;
  margin: 0.5em;
  background-color: rgb(214, 214, 214);

}
.timer-input * {
font-size: 1.5em;
border: none;
padding: 1em;
background-color: rgb(214, 214, 214);
}
.timer-input input {
pointer-events: none;
}


.nav-buttons {
  position: fixed;
  height: 20vw;
  width: 100vw;
  left: 0;
  bottom: 0em;
  padding-bottom: 0.2em;
  padding-top: 0.4em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(240, 240, 240);
  border-top: #a7a7a7b6 2px solid;
}
.nav-buttons  svg {
  height: 10vw;
}

.gray-button svg {
  color: rgb(37, 37, 37);
}

dialog {
  border: 1px solid gray;
  border-radius: 0.5em;
    z-index: 10;
    outline: 100em rgba(0, 0, 0, 0.199) solid;
}


.black-svg {
  color: black;
}

.orange-svg {
  color: orange;
}


body[state="home"] #home-button {
  border-bottom: orange 4px solid;
}
body[state="settings"] #settings-button {
  border-bottom: orange 4px solid;
}
body[state="save"] #save-button {
  border-bottom: orange 4px solid;
}
body[state="bluetooth"] #bluetooth-button {
  border-bottom: orange 4px solid;
}